.contacts {
  margin-top: 228px;
  background-image: url(https://pbs.twimg.com/media/EnNK_TpW4AAOQEQ?format=jpg&name=medium);
  height: 645px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 135px;
  padding-left: 10px;

  @media screen and (min-width: 1024px) {
    margin-top: 60px;
    padding-left: 70px;
    padding-top: 50px;
  }
}

.contacts ul {
  padding: 0;
  /* margin-top: 100px; */
  list-style: none;
}
.contacts ul li {
  font-size: 16px;
  margin-bottom: 30px;

  @media screen and (min-width: 1024px) {
    font-size: 45px;
  }
}
.contacts ul li:hover a {
  margin-bottom: 30px;
  text-decoration: underline;
}
