.hero {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  /* margin-top: 20px; */
  /* margin: auto 0; */
  /* border: var(--text) 2px solid; */
  /* padding: 30px; */
  position: relative;
  overflow: hidden;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.my-photo {
  height: 500px;
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 501px;
    height: 700px;
  }
}

.text-container {
  height: 150px;
  padding-top: 70px;

  padding-left: 60px;

  @media screen and (min-width: 1025px) {
    padding: 35px;
  }
}
.text {
  margin-left: 50px;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;

  @media screen and (min-width: 1025px) {
    margin-top: 170px;
    display: block;
    font-size: 80px;
  }
}
.typed-cursor {
  //   margin-left: 30px;
  //   margin-top: 170px;
  font-size: 90px;
  display: none;
}
